<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="title-container">
      <h1>Transaction Dashboard</h1>
    </div>
    


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" (click)="changeView('TransactionDashboard')">Transaction Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="changeView('BarCharts')">Bar Charts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeView('PieCharts')">Pie Charts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeView('DataTable')">Data Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeView('ChartsDownloadPage')">Charts Download</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container-fluid">
      <h1 class="text-center mt-4" *ngIf="view === 'TransactionDashboard'">Dashboard</h1>
  
      <div class="row mt-5" *ngIf="view === 'TransactionDashboard' || view === 'BarCharts'">
        <div class="col-lg-6">
          <h3 class="text-center">Total Sales</h3>
          <app-bar-chart-total-sales></app-bar-chart-total-sales>
          
        </div>
        <div class="col-lg-6">
          <h3 class="text-center">Transaction Volume</h3>
          <app-bar-chart-transaction-volume></app-bar-chart-transaction-volume>
          
        </div>
      </div>

      <div class="row mt-5" *ngIf="view === 'TransactionDashboard' || view === 'PieCharts'">
        <div class="col-lg-6">
          <h3 class="text-center">Sales by Region</h3>
          <app-pie-chart-sales-region></app-pie-chart-sales-region>
          
        </div>
        <div class="col-lg-6">
          <h3 class="text-center">Transaction Volume by Region</h3>
          <app-pie-chart-volume-region></app-pie-chart-volume-region>
          
        </div>
      </div>
  
      <div *ngIf="view === 'TransactionDashboard' || view === 'DataTable'">
        <div class="row mt-5">
          <div class="col-lg-12">
            <h3 class="text-center" style="margin-top: 100px;">&nbsp;</h3>
            <app-partners-table></app-partners-table>
          </div>
        </div>
      </div>
      
    
       <div *ngIf="view === 'ChartsDownloadPage'">
         <app-charts-download-page></app-charts-download-page>
       </div>
    </div>
  </body>
  </html>
    
           
